@model BlogLibrary.Models.ArticleModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ArticleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoModelId" class="control-label"></label>
                <select asp-for="PhotoModelId" class="form-control" asp-items="ViewBag.PhotoModelId"></select>
                <span asp-validation-for="PhotoModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicModelId" class="control-label"></label>
                <select asp-for="TopicModelId" class="form-control" asp-items="ViewBag.TopicModelId"></select>
                <span asp-validation-for="TopicModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
